To apply border-box to all HTML html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: #000;
    border-radius: 30px;
    padding: 10px;
}

.display {
    flex: 1;
    text-align: right;
    font-size: 48px;
    padding: 0;
    margin: 10px;
    color: #ffff;
}

#button-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.btn-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

#backspace {
    display: none;
}

button {
    flex: 1;
    border: none;
    height: 60px;
    max-width: 60px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: #2B2B2D;
    color: #fff;
    font-size: 24px;
}

.top {
    background-color: #5D5B60;
}

.func {
    background-color: #FFA00B;
    font-size: 44px;
}